<div class="row mt-4">
  <div class="col-lg-12">
    <table id="table-comment" class="table">
      <div class="comment-index">
        <p><%= t('comments.partial.comments_index') %></p>
      </div>
      <%= render comments %>
    </table>
  </div>
</div>
