<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <table id="table-comment" class="table">
      <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
        <p class='ms-3'><%= t('comments.partial.comments_index') %></p>
      </div>
      <%= render comments %>
    </table>
  </div>
</div>
