<%# タブ名の設定 %>
<% content_for(:title, t('.title')) %>
<%# パンクズリストの読み込み %>
<% breadcrumb :dogs %>
<%# JSの読み込み %>
<% content_for :js do %>
  <%= javascript_import_module_tag "dog/index" %>
<% end %>

<div class="container pt-3">
<%# ----------------------------------------------------------------------------------------------- %>
  <%# 検索フォーム %>
  <div class="contents">
    <%= text_field_tag :breed,'', class: 'js-text_field', placeholder: '犬種を入力してください' %>
    <ul class="js-lists">
    </ul>
  </div>
<%# ----------------------------------------------------------------------------------------------- %>
  <%# 犬種一覧 %>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @dogs.present? %>
          <%= render @dogs %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
