<%# タブ名の設定 %>
<% content_for(:title, t('.title')) %>
<%# パンクズリストの読み込み %>
<% breadcrumb :new_board %>

<div class="board-index-background">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1><%= t('.title') %></h1>
        <%= render 'form', { board: @board } %>
      </div>
    </div>
  </div>
</div>